.preloader-wrapper {
  outline: 2000px solid rgba(255,255,255,0.85);
  outline-offset: -2000px;
  z-index: 1000;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.preloader {
  width: 35px;
  height: 35px;
  display: inline-block;
  padding: 0px;
  border-radius: 100%;
  border: 2px solid;
  border-top-color: rgba(0,0,0, 0.65);
  border-bottom-color: rgba(0,0,0, 0.15);
  border-left-color: rgba(0,0,0, 0.65);
  border-right-color: rgba(0,0,0, 0.15);
  -webkit-animation: preloader 0.8s linear infinite;
  animation: preloader 0.8s linear infinite;
}
@keyframes preloader {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
@-webkit-keyframes preloader {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}