.spoiler {
  background-color: #0a6970;
  background-image: linear-gradient(#0a6970, #086066 10%, #06595e 65%);
  width: 100%;
  height: 2.5rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

.spoiler__content {
  background-color: #a3cac182;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  z-index: 999;
  padding: 0.25rem;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

.spoiler__content--show {
  visibility: visible !important;
  opacity: 1 !important;
}

.spoiler__content-wrapper {
  display: block;
  position: relative;
  width: 100%;
}