a {
  text-decoration: none;
  outline: none;
}

#root {
  width: 100%;
  height: 100%;
}

.app {
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  user-select: none;
}

.header__nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header__nav-link {
  margin: 0.25rem;
  padding: 0.5rem;
  width: 7rem;
  height: 2rem;
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
  color: white;
  background: #627e80;
}

.header__nav-link--selected {
  transition: 0.15s;
  background: #0b6067;
}

.body {
  margin: 0.5rem;
  position: relative;
}

.pagination__link {
  display: inline;
  margin: 0.25rem;
  user-select: none;
  cursor: pointer;
  font-size: 1rem;
}

.pagination__link--selected {
  font-size: 1.25rem;
}
